            <div id="header">
                <h1>megan renae</h1>
                <h2>writer, developer, storyteller</h2>
                <div id="social_icons">
                    <a href="https://github.com/meganrenae21">
                        <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="http://codepen.io/megan-durham">
                        <i class="fa-brands fa-codepen"></i>
                    </a>
                    <a href="http://dev.to/meganrenae21">
                        <i class="fa-brands fa-dev"></i>
                    </a>
                    <a href="http://meganrenae.bsky.social">
                        <i class="fa-brands fa-bluesky"></i>
                    </a>
                </div>
            </div>