            <div id="header">
                <div id="header_main">
                    <h1>megan renae</h1>
                    <h2>writer, developer, storyteller</h2>
                    <div id="social_icons">
                        <a rel="me" href="https://github.com/meganrenae21">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a rel="me" href="http://codepen.io/megan-durham">
                            <i class="fa-brands fa-codepen"></i>
                        </a>
                        <a rel="me" href="http://dev.to/meganrenae21">
                            <i class="fa-brands fa-dev"></i>
                        </a>
                        <a rel="me" href="http://meganrenae.bsky.social">
                            <i class="fa-brands fa-bluesky"></i>
                        </a>
                        <a rel="me" href="https://mas.to/@meganrenae">
                            <i class="fa-brands fa-mastodon"></i>
                        </a>
                        <a rel="me" href="https://www.goodreads.com/user/show/4038732-megan">
                            <i class="fa-brands fa-goodreads"></i>
                        </a>
                        <a rel="me" href="https://www.instagram.com/meganrenaexoxo/">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a rel="me" href="https://ko-fi.com/meganrenae21">
                            <i class="fa-brands fa-ko-fi"></i>
                        </a>
                        <a href="/feed.xml">
                            <i class="fa-solid fa-rss"></i>
                        </a>
                    </div>
                </div>
                <div id="header_image">
                    <img src="/assets/images/mr_avatar.png" alt="headshot of megan renae's bitmoji avatar softly smiling" class="avatar" />
                </div>
            </div>