            <div id="header">
                <div id="header_main">
                    <h1>megan renae</h1>
                    <h2>writer, developer, storyteller</h2>
                    <div id="social_icons">
                        <a href="https://github.com/meganrenae21">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="http://codepen.io/megan-durham">
                            <i class="fa-brands fa-codepen"></i>
                        </a>
                        <a href="http://dev.to/meganrenae21">
                            <i class="fa-brands fa-dev"></i>
                        </a>
                        <a href="http://meganrenae.bsky.social">
                            <i class="fa-brands fa-bluesky"></i>
                        </a>
                    </div>
                </div>
                <div id="header_image">
                    <img src="/assets/images/mr_avatar.png" alt="headshot of megan renae's bitmoji avatar softly smiling" class="avatar" />
                </div>
            </div>