@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Gudea:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&display=swap');


:root {
  --darkest-black: #121212;
  --dark-base: #1A1A1A;
  --dark-grey: #262626;
  --subtle-grey: #e3dff2;
  --grey-white: #f1f1f1;
  --bright-white: #f7f7f7;
  --accent-red: #ff6b6b;
  --accent-cyan: #69D2E7;
  --accent-yellow: #fdfd96;
  --accent-green: #90ee90;
  --accent-yellow-orange: #F4D738;
  --accent-orange: #E3A018;
  --accent-orange-red: #FF7A5C;
  --accent-pink: #FFB2EF;
  --accent-magenta: #FF69B4;
  --accent-purple-blue:#A388EE;
  --accent-dark-purple: #9723C9;
  --title-font: "Press Start 2P", system-ui;
  --text-font: "Gudea", sans-serif;
  --code-font: "Cutive Mono", monospace;
  --main-bg: var(--accent-purple-blue);
  --main-bg-accent: var(--accent-dark-purple);
  --box-bg: var(--accent-pink);
  --box-accent: var(--accent-magenta);
  --text-accent: var(--accent-magenta);
  --secondary-bg: var(--accent-magenta);
}

body {
  background-image: linear-gradient(90deg, transparent, transparent 24px, var(--main-bg-accent) 24px, var(--main-bg-accent) 25px),
                    linear-gradient(180deg, transparent, transparent 24px, var(--main-bg-accent) 24px, var(--main-bg-accent) 25px);
  background-size: 25px 25px;
  background-color: var(--main-bg);
}

#container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5% 20% 5% 20%;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  border: 1px solid var(--box-accent);
  box-shadow: 4px 4px 0 rgba(0, 0, 0, 0), 5px 5px 0 var(--box-accent);

}

#content_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

#main_content {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  width: 100%;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  width: 100%;
}

#header_main {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  background-color: var(--box-bg);
  flex-grow: 2;
  flex-basis: auto;
}

#header_image {
  background-color: var(--main-bg-accent);
  padding: 0;
  margin: 0;
  flex-grow: 1;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 150px;
}

img.avatar {
  max-height: 150px;
  width: auto;
  padding: 0;
  margin: 0;
}

#header h1 {
  font-family: var(--title-font);
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--darkest-black);
  text-shadow: 3px 3px 0 var(--text-accent), 6px 6px 0 var(--dark-grey);
}

#header h2 {
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--darkest-black);
  margin-top: 5px;
}

.nav {
  display: flex; 
  flex-direction: row;
  gap: 0;
  width: 100%;
  background-color: var(--box-bg);
  justify-content: flex-start;
  align-items: stretch;
  flex-grow: 1;
  flex-basis: auto;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--box-accent);
  border-bottom: 1px solid var(--box-accent);
}

.nav_link {
  text-align: center;
  flex-grow: 1;
  padding: 5px;
  font-family: var(--title-font);
  color: var(--darkest-black);
  text-decoration: none;
  border-right: 1px solid var(--box-accent);
}

.nav_link:last-of-type {
  border-right: none !important;
}

.nav_link:hover {
  background-color: var(--darkest-black);
  color: var(--box-accent);
}

.content {
  background-color: var(--box-bg);
}

.page_header {
  font-family: var(--title-font);
  padding-top: 0;
  font-size: 1.5em;
  text-shadow: 1px 1px 0 var(--text-accent);
  text-align: center;
  color: var(--darkest-black);
}

.post_title {
  font-family: var(--title-font);
  color: var(--darkest-black);
  text-decoration: none;
  text-shadow: 3px 3px 0 var(--text-accent);
  margin-bottom: 0.5em;
}

.post_meta {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  padding-top: 0;
  column-gap: 5em;
}

.post_date {
  font-family: var(--text-font);
  font-size: 1.3em;
  font-weight: 700;
  color: var(--text-accent);
  text-decoration: underline;
  text-decoration-color: var(--darkest-black);
}

.post_list {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.post_list_entry {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.date_heading {
  font-family: var(--title-font);
  font-size: 1em;
  letter-spacing: 0.2em;
  color: var(--darkest-black);
  text-shadow: 1px 1px 0 var(--text-accent);
}

.post_list_entry_link {
  font-family: var(--title-font);
  font-size: 1em;
  text-decoration: none;
  color: var(--text-accent);
}

.post_list_entry_link:hover {
  color: var(--darkest-black);
}

.tag_list {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
}

.tag_list_v {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.tag_link_v {
  text-align: center;
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--text-accent);
  background-color: var(--darkest-black);
  padding: 0.1em;
  margin: 0.2em;
  border: 2px solid var(--text-accent);
  font-size: 1em;
  font-weight: 500;
}

.tag_link_v:hover {
  background-color: var(--text-accent);
  border: 2px solid var(--darkest-black);
  color: var(--darkest-black);
}

.tag_link {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--darkest-black);
  padding: 2px;
  align-self: center;
  font-size: 0.8em;
  line-height: 0.8em;
  background-color: var(--text-accent);
  border-radius: 10px;
  border: 1px solid var(--darkest-black);
}

.tag_link:hover {
  background-color: var(--darkest-black);
  color: var(--accent-red);
  box-shadow: 1px 1px 0 var(--text-accent);
}

#footer {
  background-color: var(--box-bg);
  border-top: 1px solid var(--box-accent);
  text-align: center;
  font-family: var(--text-font);
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  line-height: 1em;
  color: var(--dark-base);
}

h2 {
  color: var(--darkest-black);
  margin-left: 0.5em;
  font-family: var(--text-font);
  font-size: 1.5em;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--text-accent);
}

h3 {
  color: var(--dark-base);
  margin-left: 1em;
  margin-bottom: 0;
  font-family: var(--text-font);
  font-size: 1.3em;
}

h4 {
  color: var(--dark-base);
  margin-left: 1em;
  font-family: var(--text-font);
  font-size: 1.1em;
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  margin-left: 1em;
  margin-right: 1em;
  font-family: var(--text-font);
  font-size: 1em;
  color: var(--dark-base);
}

h3 + p {
  margin-top: 0;
}

h4 + p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 1em;
  margin-top: 0;
  padding-left: 0.3em;
  font-family: var(--text-font);
}

ul li:before {
  content: "❱";
  color: var(--accent-red);
  margin-right: 0.2em;
  text-shadow: 1px 1px 0 var(--darkest-black);
}

ul li li:before {
  content: "➤";
  color: var(--accent-red);
  margin-right: 0.2em;
  text-shadow: 1px 1px 0 var(--darkest-black);
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

li {
  margin: 0;
  font-family: var(--text-font);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--accent-red);
}

a:hover {
  color: var(--darkest-black);
}

code {
  font-family: var(--code-font);
}

div.language-plaintext {
  overflow-x: auto;
  margin: 0 3em 0 3em;
  background-color: var(--darkest-black);
  border: 2px solid var(--accent-red);
  color: var(--bright-white);
  box-shadow: 2px 2px 0 var(--darkest-black);
}

blockquote {
  font-style: italic;
  margin-left: 5em;
  margin-right: 5em;
  font-family: var(--text-font);
  padding: 1em;
  color: var(--dark-grey);
  border: 1px solid var(--dark-grey);
  box-shadow: 1px 1px 0 var(--accent-yellow), 4px 4px 0 var(--accent-red);
  font-size: 0.9em;
}
i {
  color: var(--darkest-black);
  padding: 0;
  margin: 0;
}
#social_icons {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  align-self: center;
  margin-bottom: 1em;
}

.fake_link {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--accent-cyan);
  color: var(--subtle-grey);
  font-style: italic;
  font-family: var(--text-font);
}

.fake_link_2 {
  text-decoration: none;
  color: var(--accent-red);
  font-style: italic;
  font-family: var(--text-font);
}

.img-div {
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

.post-img {
  margin: auto;
  border: 1px solid var(--accent-cyan)
}

.codepen {
  padding: 0.3em;
}

