<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>megan renae | {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
        <script src="https://kit.fontawesome.com/1df0fd71fd.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="container">
            {% include header.html %}
            {% include nav.html %}
            <div class="content">
                {{ content }}
            </div>
            {% include nav.html %}
            {% include footer.html %}
        </div>
    </body>
</html>