<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>megan renae | {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>megan renae</h1>
                <h2>writer, developer, storyteller</h2>
            </div>
            {% include nav.html %}
            <div class="content">
                {{ content }}
            </div>
            <div class="footer">
                © 2020&mdash;2025 Megan Renae. 
            </div>
        </div>
    </body>
</html>