---
layout: default
---
<div class="post_header">
    <h2 class="post_title">{{ page.title }}</h2>
    <div class="post_meta">
        <div class="post_date">{{ page.date | date: "%A, %B %d, %Y" }}</div>
        <div class="tag_list">
            {% for tag in page.tags %}
            <a class="tag_link_post" href="{{ site.url }}/tags/{{tag}}.html">{{ tag }}</a> 
            {% endfor %}
        </div>
    </div>
</div>
<div class="post_content">
    {% if page.note %}
    <blockquote class="post_note">
        {% assign note = site.data.postnotes | where: "name", page.note %}
        {{ note[0].text }}
    </blockquote>
    {% endif %}
    {{ content }}
</div>